table {
  border-collapse: collapse;
  position: absolute;
  left: 50%;
  margin-left: -250px;
  top: 10%;
  border-radius: 10%;
}

.cell {
  border: 5px solid rgba(51, 57, 64, 0.8);
  height: 100px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
}
