html {
  font-size: 25px;
}
table {
  border-collapse: collapse;
  position: absolute;
  left: 50%;
  margin-left: -250px;
  top: 125px;
  border-radius: 10%;
}

.cell {
  border: 5px solid rgb(51, 57, 64);
  height: 100px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
}

.playerscores {
  position: absolute;
  left: 50%;
  margin-left: -125px;
}
.playerscores, div{
  align-content: center;
  padding: 5px;
  width: 175px;
}

#player1 {
  background-color: #29ffcd;
}
